.main-page {
    height: 25rem;
    background-color: darkgray;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .display-output{
        width: 100%;
        height: 100px;
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
        background-color: aqua;

        .text {
            padding: 10px;
            margin: 20px;
        }
    }
}